<div id="wrapper">
  <header class="navbar navbar-fixed-top" id="top" role="banner" style="height: 80px;">
    <div class="container" style="height: 100%; position:relative;">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#aqda-navbar" aria-controls="aqda-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">
          <span>
            <img src="./img/aqLogo.png" />
          </span>
          <span>
            <img src="./img/aqLogo.png" style="border-left: 2px solid rgb(230, 230, 228); padding-left: 5px;"/>
          </span>
        </a>
      </div>
      <nav id="aqda-navbar" class="collapse navbar-collapse" style="vertical-align: middle; height: 50px;">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Diagnostics</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="pageWrapper" ui-view="content">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-3" style="color:white; padding-top: 40px; font-size: 10px;">
        2015 © Arthritis Queensland | Disclaimer
      </div>
      <div class="col-md-offset-2 col-md-3" style="color:white; padding-top: 40px; font-size: 10px;">
        Contact Us
      </div>
    </div>
  </div>
</div>
