
<div class='indicators'>
  <span class='indicator' id='indicator-1'>
      <button type='button' onclick='quiz.moveTo(2);'></button>
  </span>
</div>
<form action='result' method='post' id='quiz_form'>
  <div class='question img text-center' id='question-1'>
    <h1>What is the question?</h1>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12 col-sm-6 col-md-3 col-lg-2 quote' onclick='quiz.answer(this, <?php echo $question->number; ?>, <?php echo $answer->number; ?>);'>
                <p>
                  This is the answer text
                </p>
            </div>
        </div>
    </div>
  </div>
</form>
