<div class='row disclaimer'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
    <p class='text-center' style='font-weight: 500;'>
      This tool does not replace the diagnosis of a practitioner. It is only to
      be used as a guideline.<br/>We recognise the vital role of healthcare
      professionals in supporting and treating those with arthritis and
      osteoporosis, and welcome all feedback on the AQDA; <strong> please
      contact info@arthritis.org.au</strong>
    </p>
  </div>
</div>
