<div class='row' style='margin-top: 8vh;'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
    <p class='text-center' style='font-size: 19px; font-weight: 500;'>
      The AQDA (<strong>Arthritis Queensland Diagnostic Assistant</strong>) is
      a tool to help General Practitioners in quickly and accurately assessing
      whether a patient is likely to have a form of inflammatory arthritis, and
      provides resources to help in efficiently referring a patient to a
      specialist.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3' style='margin-top: 8vh;'>
    <form action='/login' method='post' class='form-horizontal'>
      <div class='form-group'>
        <!--<label for='uname-input' class='control-label col-xs-12 col-sm-3'>Last Name</label>-->
        <div class='col-xs-12'>
          <input type='text' placeholder='Surname' class='form-control' required>
        </div>
      </div>
      <div class='form-group'>
        <!--<label for='pnum-input' class='control-label col-xs-12 col-sm-3'>Provider Number</label>-->
        <div class='col-xs-12'>
          <input type='text' placeholder='Provider No.' class='form-control' required>
        </div>
      </div>
      <button class='btn btn-primary btn-block active'>Login</button>
      <p class='text-center' style='margin-top: 10px; font-weight: 500;'>
        Don't have a login? <a href='/register'>Register</a> now.
      </p>
    </form>
  </div>
</div>
<%= erb :_disclaimer %>
