@font-face {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  height: 100%;
}

.aqdaBody .navbar{
  background-color: white;
}

#results-container{
  font-size: larger;
  min-height: 300px;
}

.strainTable {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.strainTable a{
  color: white;
  text-align: center;
}

.strainTable a:hover{
  color: grey;
}

.aqdaBody {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #0071ce;
    height: 100%;
}

.navbar .container { min-height: 83px; }


.navbar-fixed-top {
  position:static;
  margin-bottom: 0px;
}

ul.navbar-nav a {
  margin-top: 16px;
}

.top-block{
  background-color: #0071CE;
}

.middle-block{
  background-color: rgb(57, 130, 233);
}

.bottom-block{
  background-color: #015CA7;
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-width: 3px;
  border-radius: 50px;
  background-color: transparent;
}

.btn-circle-selected {
  background-color: rgb(38, 91, 162);;
}


.indicators {
    text-align: center;
}

.indicator {
    padding: 0px 5px;
}

.indicator button {
    width: 20px;
    height: 20px;
    background: none;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.indicator button:hover {

}

.indicator.active button {
    background-color: white;
}

.question-area {
  color: white;
}

.question-form-control{

  border-color: rgb(122, 170, 226);
  border-width: 3px;
  font-size: 30px;
  height: auto;
  color: white;
  text-align: center;
}

.question-form-control-unselected{
  background-color: transparent;
}

.wrapper {
  min-height: calc(100vh - 60px);
}
