@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'Open Sans', sans-serif;
}

.aqdaBody {
    font-family: 'Open Sans', sans-serif;
    background-color: #0071ce;
    height: 100%;
}

html {
  height: 100%;
}

.aqdaBody .navbar{
  background-color: white;
}

#results-container{
  font-size: larger;
  min-height: 300px;
}

.strainTable {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.strainTable a{
  color: white;
  text-align: center;
}

.strainTable a:hover{
  color: grey;
}

.navbar .container { min-height: 83px; }


.navbar-fixed-top {
  position:static;
  margin-bottom: 0px;
}

ul.navbar-nav a {
  margin-top: 16px;
}

.top-block{
  background-color: #0071CE;
}

.middle-block{
  background-color: #0084F0;
}

.bottom-block{
  background-color: #015CA7;
}

.indicators {
    text-align: center;
}

.indicator {
    padding: 0px 5px;
}

.indicator button {
    width: 20px;
    height: 20px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #0084F0;
}

.indicator button:hover {

}

.indicator.active button {
    background-color: white;
}

.question-area {
  color: white;
}

.aqdaControl {
  border-color: #6babe5;
  border-width: 3px;
  margin: 5px;
  color: white;
  text-align: center;
  height: auto;
  background-color: transparent;
}

.aqdaBigButton{
  font-size: 30px
}

.aqdaControl:hover {
  background-color: white;
  border-color: white;
  color: #0071CE;
}

.btn-circle {
  width: 100px;
  height: 100px;
  line-height: 1.42;
  border-radius: 50px;
  background-color: transparent;
}

.btn-circle-selected {
  background-color: rgb(38, 91, 162);;
}

.question-form-control{
  border-color: rgb(122, 170, 226);
  border-width: 3px;
  font-size: 30px;
  height: auto;
  color: white;
  text-align: center;
}

.question-form-control-unselected{
  background-color: transparent;
}

.wrapper {
  min-height: calc(100vh - 60px);
}
