body {
    background-color: white; 
}

.emphasis {
    color: #fff;
}

.wrapper {
    min-height: calc(100vh - 60px);

    margin-top: -20px;
    margin-bottom: -80px;

    padding: 70px 0px 20px;
}

.indicators {
    text-align: center;
}

.indicator {
    padding: 0px 5px;
}

.indicator button {
    width: 20px;
    height: 20px;

    margin: 0px 10px;

    background: none;

    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.indicator button:hover {
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
}

.indicator.active button {
    box-shadow: 0px 0px 5px 2px rgb(255, 0, 0);
}

.question {
    margin-top: 75px;

    text-align: center;
}

.question.default label {
    width: 12vw;

    margin-top : 50px;
    padding: 0px 1vw;

    cursor: pointer;

    vertical-align: top;
}

.question.default label button {
    display: block;

    width: 10vw;
    height: 10vw;

    margin-bottom: 15px;

    border: none;
    border-radius: 5vw;

    background-color: #666;
}

.question.default label button:hover {
    background-color: #999;
}

.question.default label button.active {
    background-color: #333;

    border-width: 2vw;
    border-color: #666;
    border-style: solid;
}

.question.default label button.active:hover {
    border-color: #999;
}

.question .quote {
    padding: 10px;
}

.question .quote p {
    height: 145px;

    margin: 0px;
    padding: 10px;

    cursor: pointer;

    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
}

.start-again {
    position: absolute;
    bottom: 60px;
    left: 0px;

    width: 100%;

    text-align: center;
}

.start-again button {
    margin-top: 100px;

    padding: 10px 60px;

    background-color: #999;

    border: 2px solid black;
    border-radius: 5px;
}
